/* Body styles */
body {
  background: #00091B;
  color: #fff;
}

/* Wrapper styles */
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Heading styles */
h1 {
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
  margin-top: 10rem;
}

.dot {
  color: #4FEBFE;
}

/* Icons styles */
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 50px;
  width: 50px;
  background: #fff;
  margin: 0 5px;
  border-radius: 50%;
  transition: all 200ms ease;
  position: relative;
  margin-bottom: 10px; /* Add margin-bottom to create space between stacked icons */
}

.icons a i {
  font-size: 24px;
}

.banner {
  background-color: #FF0000;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  top: -12px;
  right: -12px;
}

/* Resume button styles */
.resume-button {
  background-color: #4FEBFE;
  color: #00091B;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 200ms ease;
}

.resume-button:hover {
  background-color: #fff;
  color: #00091B;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 426px) {
  .icons a {
    height: 40px;
    width: 40px;
    margin: 5px;
  }
}
